<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

    <test name="Test Android">
        <parameter name="platformName" value="Android" />
        <parameter name="model" value= "" />
        <parameter name="browserName" value="mobileOS" />
        <parameter name="location" value="NA-US-BOS" />
        <classes>
            <class name="Test_Main" />
        </classes>
    </test>

    <test name="Test iOS">
        <parameter name="platformName" value="iOS" />
        <parameter name="model" value= "" />
        <parameter name="browserName" value="mobileOS" />
        <parameter name="location" value="NA-US-BOS" />
        <classes>
            <class name="Test_Main" />
        </classes>
    </test>
    
</suite>
