<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

    <test name="Test Android">
        <parameter name="platformName" value="Android" />
        <parameter name="platformVersion" value="" />
        <parameter name="model" value="Galaxy S6" />
        <parameter name="browserName" value="mobileOS" />
        <parameter name="browserVersion" value="" />
        <parameter name="deviceName" value="" />
        <classes>
            <class name="Reddit" />
        </classes>
    </test>

</suite>