<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

    <test name="Test Chrome">
        <parameter name="platformName" value="Windows"/>
        <parameter name="platformVersion" value="8.1"/>
        <parameter name="browserName" value="Chrome"/>
        <parameter name="browserVersion" value="51"/>
        <parameter name="resolution" value="1366x768"/>
        <classes>
            <class name="Perfecto_VisualAnalysis"/>
        </classes>
    </test>

</suite>